# Ignorar archivos de configuración de IDE
.idea/
.vscode/

# Ignorar directorios de dependencias
node_modules/
bower_components/

# Ignorar archivos de logs
*.log

# Ignorar archivos de compilación
dist/
build/
out/

# Ignorar archivos temporales
*.tmp
*.temp
*.bak

# Ignorar archivos específicos de sistema operativo
.DS_Store        # macOS
Thumbs.db       # Windows
ehthumbs.db     # Windows
Desktop.ini     # Windows

# Ignorar archivos de test
coverage/
